* {
    box-sizing: border-box;
  }
  body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  #nav{
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#nav li{
    list-style-type: none;
    /* margin-left: 10%; */
    
}
#nav li>a{
    text-decoration: none;
    color: black;
}
#nav > li > a > i{
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
    /* border: 2px solid red; */
}
#notifi{
    width:28px;
    /* border:2px solid rgb(139, 134, 134); */
    border-radius:30px ;
    margin-left: 30px;
    padding: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}
  .nav {
    /* border: 1px solid black; */
    text-align: center;
  }
  .info{
    text-align: center;
  }
  .container{
    width: 80%;
    margin: auto;   
    /* border: 1px solid black;  */
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  .container>h3{
    text-align: center;
    margin-bottom: 4%;
  }
  form{
    /* border: 1px solid black; */
    padding: 15px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  form input{
    width: 80%;
    margin:3% 0px 3% 3%;
    height: 45px;
    border:1px solid #bebbbb;
    border-radius: 5%;
  }
  #color{
    margin:3% 0px 3% 3%;
    width: 80%;
    height: 45px;
    border:1px solid #bebbbb;
    border-radius: 5%;
  }
  #card{
    display: none;
    width:40%;
    margin-top: 5%;
    height: 200px;
    margin-right: 10%;
    border-radius: 4%;
  }
  #cardHeader{
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }
  #cardName{
    margin:45px 0px 0px 25px ;
    padding-top: 10px;
    /* color: #f9f9f9; */
  }
  #order{
    width: 50%;
    height: 50px;
    font-size: 25px;
    margin:25% 0px 0px 30% ;
    padding: 5px;
    color: whitesmoke;
    background-color: #38bb5d;
    border: none;
    border-radius: 4%;
  }
  @media only screen and (max-width: 960px) and (min-width: 796px) {
    #cardHeader {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #cardName {
      width: 50%;
      margin: auto;
      text-align: center;
      border: none;
      /* color: #f9f9f9; */
    }
    #order {
      width: 50%;
      border: 1px solid red;
      margin:25% 0px 0px 30% ;    
      height: 50px;
      font-size: 20px;
      color: whitesmoke;
      background-color: #38bb5d;
      /* border-radius: 4%; */
    }
  }
  @media only screen and (max-width: 795px) {
    #cardHeader {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 10px;
      text-align: center;
    }
    #cardName {
      width: 50%;
      margin: auto;
      text-align: center;
      border: none;
      /* color: #f9f9f9; */
    }
    #order {
      border: 1px solid rgb(40, 38, 38);
      width: 70px;
      margin-top: 60px;
      margin-left: 30%;
      height: 50px;
      font-size: 17px;
      color: whitesmoke;
      background-color: #38bb5d;
      border-radius: 3%;
    }
  }