body{
    padding:0;
    margin: 0;
    background-image: linear-gradient(to right top, #12476a, #22496a, #2d4b6b, #364e6b, #3e506b, #465a73, #4e647a, #576e82, #678392, #7a98a0, #90acaf, #a8c1bf);
}
*{
    box-sizing: border-box;
    
}
/* #changed:hover{
  background-color: rgb(237, 45, 47);
  color: white;
 
  border: none;
} */

#nav{
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* background-image: linear-gradient(135deg, rgb(245, 52, 255), rgb(232, 81, 255), rgb(21, 53, 133)); */
  background-color: rgb(16, 44, 65);
  color: black;
}
#nav li{
  list-style-type: none;
  /* margin-left: 10%; */
}
#nav li>a{
  text-decoration: none;
  color: rgb(254, 253, 253);
}
#nav li>a:hover{
  color: rgb(175, 232, 251);
}
#nav > li > a > i{
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
  /* border: 2px solid red; */
}
/* #nav > li > a > i{
  width: 50px;
  margin-left: 15px; 
   padding-left: 13px; 
}  */
/* #trans{
  padding-left: 15%;
} */
#notifi{
  width:28px;
  /* border:2px solid rgb(139, 134, 134); */
  border-radius:30px ;
  margin-left: 30px;
  padding: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
}
/* #nav > li #not{
 border: 3px solid red;
} */
#nav>img{
  border: 2px solid red;
  padding: 10px;
}
#parent{
    width: 90%;
    margin: auto;
    display: flex;
    /* border: 2px solid black; */
    margin-top: 80px;
}
#paymentOptions{
    /* border: 2px solid black; */
    width:35%;
    margin:auto;
    margin-top: 80px;
    position: sticky;
    top: 20%;
   /* justify-items: center; */
}
.paymentOptionBox{
    display: flex;
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    justify-content: flex-start;
    background-color: white;
   
}
.optionLogo {
    margin-right: 10px;
}

.optionLogo img{
    /* border: 1px solid red; */
    width: 45px;
    border-radius: 50px;
}
.paymentInfo a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.paymentInfo h4{
color: rgb(116, 116, 116);
}
#dynamicBox{
    width:60%;
    /* border:1px solid red; */
    padding-top: 60px;
    display: none;
}

#box1{
    display: none;
    width: 85%;
    margin: auto;
   /* border:1px solid black  */

}
.currencyChange{
    width: 80%;
    margin: auto;
    padding: 30px;
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 30px;
    background-color: white;
}
.childBox{
  /* border: 2px solid black; */
  width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.childBox>div{
  width: 50%;
  margin: 5px;
  /* border: 1px solid blue; */
 
}
.countryImg{
width: 34px;
border-radius: 50%;

}
#fromCountries{
width: 100%;
margin-bottom: 10px;
padding: 10px;
border-radius: 10px;
background-color: white;
/* border: none; */
}
#toCountries{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  }
#fromCurrency{

  width:100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
#toCurrency{

  width: 100%;
  margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
}
#changed{
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  /* height: 50px; */
}

#box1 form{
    text-align: center;
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}
#bankDetails input{
   width: 60%;
   margin: auto;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
/* color: white; */
border: none;
box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#bankDetails input:nth-child(5){
     height: 80px;
}
#box2{
    
    display: none;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
   /* border:1px solid black  */
   box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 30px;
   background-color: white;
   margin-bottom: 100px;
}
#amountDisplay{
    width: 70%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 30px;
}
#amountDisplay2{
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
 
  /* border: 2px solid red; */
}
.section{
   display: flex;
   justify-content: space-between;
   padding: 20px 20px 20px 20px;
   margin-top: 25px;
  
   box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 20px;
}
/* #box2:last-child{
    width: 60%;
    margin: auto;
    margin-top: 80px;
    border: 8px solid black;
} */

#submitBtn2{
   width: 100%;
   margin-top: 80px;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
   box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
   border-radius: 20px;
   border: none;
}
#box3{
    display: none;
    width: 60%;
    margin: auto;
   /* text-align: center; */
    /* border: 2px solid black; */
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
}
#box3Header{

width: 20%;
margin: auto;
padding: 1px;
text-align: center;
box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 10px;
}
#backBtn{
   padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
    margin-left: 80px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* border-radius: 20px; */
}



/* pin authorization section */
.password-container {
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    /* box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
    /* border-radius: 20px; */
  }
  
  .password-input {
    margin-bottom: 10px;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input {
    padding: 10px 10px 10px 50px;
    font-size: 18px;
    text-align: center;
    width: 200px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
  }
  
  .cursor {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3px;
    height: 20px;
    background-color: #000;
    animation: blink 0.5s infinite;
  }
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .password-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .password-button {
    padding: 20px;
    font-size: 18px;
    text-align: center;
    border-radius: 50%;
    background-color: #fffefe;
    /* color: white; */
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .password-button:hover {
    background-color: #f2f2f2;
  }
  
  .password-button.backspace::before {
    content: "\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #box4{
    width: 50%;
    margin: auto;
    display: none;
    /* border: 2px solid red; */
    text-align: center;
    margin-top: -50px;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}
  /* ------------------------------------------------ */

  /* css for tick animation to show payment is successfull */

   #tickAnimation{

    /* border: 2px solid black; */
    margin: auto;
    margin-top: 40px;
    
  }
  
 
  #tickAnimation {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transform: scale(0);
  }
  
  #tickAnimation.show {
    background: rgb(63, 246, 63);
  animation: tick-animation 0.5s ease-out forwards;
}

#tickAnimation svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
}

#tickAnimation.show svg {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes tick-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


/* -----------------------------------------------------> */
/* beneficiary dynamicBox1 element */
#dynamicBox1{
  width:60%;
  /* border:1px solid red */
  padding-top: 60px;
  /* display: none; */

}
#sendMoney{
  border: 1px solid black;
  text-align: center;
}
#sendMoney form{
  border: 1px solid red;
  width: 60%;
  margin: auto;
padding: 30px;
}
#sendMoney form input{
  width: 60%;
   margin: auto;
   margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
   margin-top: 20px;
}

/* css for payment using payTag option--- */
 
#dynamicBox1{

  width:60%;
  /* border:1px solid red; */
  padding-top: 60px;
  display: none;

}
.card{
/* border: 1px solid black; */
width: 70%;
display: flex;
align-items: center;
box-shadow: rgba(255, 255, 255, 0.08) 0px 1px 0px;
margin-bottom: 17px;
border-radius: 12px;
background-color: white;
}
.cardImg img{
width: 50px;
border-radius: 50%;
margin-left: 25px;
}
.userCardInfo{
  /* border:1px solid red; */
margin-left: 30px;
margin-bottom: 20px;
}
.userCardId{
  /* background-color: aqua; */
 margin-top: -20px;
}

/* .userCardInfo a{
  background-color: aqua;
  border: 1px solid black;
} */
  
#selectedCard{
width:70%;
margin:auto;

text-align: center;
}
#selectedUserInfo{
  width: 45%;
  margin: auto;
  /* border:2px solid red; */
  box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
}
#selectedUserInfo img{
  width: 120px;
  border-radius: 50%;
}
#selectedUserInfo button{
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
}
.selectedUserId{
  margin-top: -15px;
}
  

#selectedUserInfo2{
  width: 35%;
  margin: auto;
  /* border:2px solid red; */
  box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
  border-radius: 30px;
  background-color: white;
}
#selectedUserInfo2 img{
  width: 120px;
  border-radius: 50%;
}
/* #selectedUserInfo button{
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
} */
.selectedUserId2{
  margin-top: -15px;
}


  /* currency part----------------------------------> */
  #selectedUserCurrency{
    width: 100%;
    margin: auto;
    box-shadow: rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 30px;
    /* border: 2px solid red; */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    margin-bottom: 50px;
}
.selectedUserChildBox{
   /* border: 2px solid black;  */
   width: 100%;
  display: flex;
  justify-content: space-around;
 
}
.selectedUserChildBox>div{
  width: 50%;
  margin: 5px;
   /* border: 1px solid blue;  */
 
}
/* .countryImg{
width: 34px;
border-radius: 50%;

}  */
#selectedUserFromCountries{
width: 100%;
margin-bottom: 10px;
padding: 10px;
border-radius: 10px;
background-color: white;
}
#selectedUserToCountries{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  }
#selectedUserFromCurrency{

  width:100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
#selectedUserToCurrency{

  width: 100%;
  margin-bottom: 10px;
   padding: 10px;
   border-radius: 10px;
   background-color: white;
}
#selectedUserChanged{
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  background-color: white;
  /* height: 50px; */
}
  /* pin autorixation for selected user----------------------> */
  /* pin authorization section */

  #selectedUserBox3{
    display: none;
width: 60%;
margin: auto;
   /* text-align: center; */
    /* border: 2px solid black; */
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 50px;
}
#selectedUserBox3Header{

width: 20%;
margin: auto;
text-align: center;
}
#selectedUserBackBtn{
   padding: 10px;
    border-radius: 50%;
    margin-right: 50px;
    margin-left: 80px;
    background-color: white;
    color: black;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.password-input {
  margin-bottom: 10px;
}

.input-container {
  position: relative;
}

.input-container input {
  padding: 10px 10px 10px 50px;
  font-size: 18px;
  text-align: center;
  width: 200px;
  height: 40px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

.cursor {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 3px;
  height: 20px;
  background-color: #000;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.password-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.password-button {
  padding: 20px;
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
  background-color: #fffefe;
  /* color: white; */
  border: 2px solid #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.password-button:hover {
  background-color: #f2f2f2;
}

.password-button.backspace::before {
  content: "\f060";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* __________________________________________________________________________> */

#selectedUserBox4{
  display: none;
  /* border: 2px solid red; */
  text-align: center;
  margin-top: -50px;
  /* background-color: white; */
  margin-bottom: 50px;
}
#selectedUserBox4 h3{
 /* border: 2px solid red; */
 padding: 20px;
 width: 50%;
 margin: auto;
 background-color: white;
 border-radius: 10px;
}
/* ------------------------------------------------ */

/* css for tick animation to show payment is successfull */

 #tickAnimation2{

  /* border: 2px solid black; */
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
}


#tickAnimation2 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: scale(0);
}

#tickAnimation2.show2 {
  background: rgb(63, 246, 63);
animation: tick-animation 0.5s ease-out forwards;
}

#tickAnimation2 svg {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(0);
}

#tickAnimation2.show2 svg {
transform: translate(-50%, -50%) scale(1);
}

@keyframes tick-animation {
0% {
  transform: scale(0);
}
50% {
  transform: scale(1.2);
}
100% {
  transform: scale(1);
}
}